<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <h1 class="text-center mb-4">登入</h1>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">信箱</label>
          <input type="text" class="form-control" name="email" id="username" placeholder="輸入email" value="{{ email }}">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="輸入密碼">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">登入</button>  
        </div>
        {{#if errEmail}}
          <div class="alert alert-danger mt-2 p-1" role="alert" style="text-align:center">
            {{errEmail}}
          </div>
        {{/if}}
        {{#if errPwd}}
        <div class="alert alert-danger mt-2 p-1" role="alert" style="text-align:center">
          {{errPwd}}
        </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>