<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">歡迎光臨！</h1>
      <p class="lead">感謝您的光臨，祝您在本網站上有個愉快的體驗。</p>
    </div>
  </div>
</div>